@import "tailwindcss";

:root {
  --font-heading:"Cormorant Garamond", serif ;
  --font-body:"Montserrat", sans-serif; 
}

a {
  font-family: var(--font-body);
  font-weight: 500;
  text-transform: uppercase;
  letter-spacing: .1rem;
  font-size: .8rem;
  font-weight: 600;
}

button {
  font-family: var(--font-body);
  font-weight: 500;
  font-size: .8rem;
  font-weight: 600;
  text-transform: uppercase;
  letter-spacing: 0.1rem;
}